#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.
{% for param, value in openldap_conf_file_values.iteritems() %}
{{ param }}  {{  value }}
{% endfor %}
